@font-face {
  font-family: GeFontRegular;
  src: url("assets/font/Ge-Inspira-Regular.ttf") format("truetype");
}

@font-face {
  font-family: GeFontBold;
  src: url("assets/font/Ge-Inspira-Bold.ttf") format("truetype");
}

@font-face {
  font-family: GeFontInspRegular;
  src: url("assets/font/Inspiration-Regular.ttf") format("truetype");
}

